# SPY
--symbol SPY --side put  --roc-lookback 18 --vol-window 20 --put-roc-threshold -0.005000 --downside-vol-threshold 0.094507
--symbol SPY --side call --roc-lookback 20 --vol-window 17 --call-roc-threshold 0.052641 --upside-vol-threshold 0.085369

# GDX
--symbol GDX --side call --roc-lookback 14 --vol-window 12 --call-roc-threshold -0.005000 --upside-vol-threshold 0.173500
--symbol GDX --side put  --roc-lookback 17 --vol-window 12 --put-roc-threshold -0.033759 --downside-vol-threshold 0.121257

# TLT
--symbol TLT --side put --roc-lookback 10 --vol-window 10 --put-roc-threshold -0.033128 --downside-vol-threshold 0.010000
--symbol TLT --side call --roc-lookback 11 --vol-window 6 --call-roc-threshold 0.027726 --upside-vol-threshold 0.011413

# VXX
--symbol VXX --side put --roc-lookback 2 --vol-window 7 --put-roc-threshold -0.070625 --downside-vol-threshold 0.024324
--symbol VXX --side call --roc-lookback 10 --vol-window 25 --call-roc-threshold 0.015221 --upside-vol-threshold 0.127518

# IBIT
#--symbol IBIT --side call --roc-lookback 2 --vol-window 7 --call-roc-threshold 0.068618 --upside-vol-threshold 0.027235
#--symbol IBIT --side put --roc-lookback 3 --vol-window 11 --put-roc-threshold -0.040833 --downside-vol-threshold 0.200000

# IWM
--symbol IWM --side put --roc-lookback 3 --vol-window 24 --put-roc-threshold -0.021328 --downside-vol-threshold 0.109009
--symbol IWM --side call --roc-lookback 5 --vol-window 13 --call-roc-threshold 0.010549 --upside-vol-threshold 0.176503